/venv/
/.idea/
/24.07.20/
/0710/
/17092020/
/env/
/insurance_bot/
/product_image/
/rezerv26.07.20/
/rezerv27.07.20/
/rezerv21082020/
/rezervservermagazin30.10.20/
/rezev/
/t1/
/test/
/tmp/
/ver001/
/ver002/
/video/
/Бот для получения file_id/
